<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project.Sanha.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.Sanha.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/loading/loading.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

</head>
<body>
    <script>
        let baseUrl = '@ViewBag.baseUrl';
        let id = '@ViewBag.ID';
    </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="~/images/img1.png" style="max-width:175px; height:auto;" alt="Brand Logo" />
                </a>

                <!-- Aligned to the end of the navbar -->
                <div class="d-flex align-items-center ms-auto">
                    <span class="navbar-text me-3">E Coupon</span>

                    <!-- Logout Dropdown -->
                    <div class="dropdown">
                        <button class="btn text-dark dropdown-toggle" id="logoutDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle">
                                <span>@ViewBag.FullName</span>
                            </i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="logoutDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Project.Sanha.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/loading/loadingoverlay.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
