
@model Project.Sanha.Web.Models.InformationDetail
@{
    ViewData["Title"] = "รายระเอียดข้อมูล";
}
<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card" id="card-main">
                        <div class="card-body">
                            <h5 class="card-main-font">ชื่อโครงการ: @Model.ProjectName</h5>
                            <h5 class="card-sub-font">เลขที่บ้าน: @Model.AddressNo</h5>
                            <h5 class="card-sub-font">วันที่โอน: @Model.TransferDate</h5>                        
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12">
                @if (@Model.CheckFormat)
                {
                    @foreach (var shop in Model.ListShopService)
                        {
                            var expDate = DateTime.ParseExact(shop.Exp, "dd-MM-yyyy", System.Globalization.CultureInfo.InvariantCulture);
                            var remainingQuota = shop.Quota - shop.Used_Quota;
                            var isVisible = shop.Quota <= shop.Used_Quota || expDate <= DateTime.Now;
                            var isExp = expDate <= DateTime.Now ? "คูปองหมดอายุ" : null;
                        
                        <input type="hidden" id="shop" value="@shop" />
                        <div class="row mb-4">
                            <div class=" col-lg-12 col-md-12 col-sm-12">
                                <div class="card" style="width: 100%; height: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <i class="fa-solid fa-gift fa-5x fix-icon"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@shop.Name</h5>
                                                <p class="card-text">@shop.Description</p>
                                                <p class="card-text" >หมดอายุ: @shop.Exp</p>
                                                <p class="card-text">จำนวนคงเหลือ: @(remainingQuota < 0 ? 0 : remainingQuota)</p>
                                                <div class="d-flex justify-content-end">
                                                    <input type="hidden" id="InfoId" value="@shop.UnitShopId" />
                                                    <input type="hidden" id="ProjectId" value="@Model.ProjectId" />
                                                    <input type="hidden" id="UnitId" value="@Model.UnitId" />
                                                    <input type="hidden" id="ProjectName" value="@Model.ProjectName" />
                                                    <input type="hidden" id="Address" value="@Model.AddressNo" />
                                                    <input type="hidden" id="TransferDate" value="@Model.TransferDate" />
                                                    <input type="hidden" id="CustomerName" value="@Model.CustomerName" />
                                                    <input type="hidden" id="CustomerMobile" value="@Model.CustomerMobile" />
                                                    <input type="hidden" id="CustomerEmail" value="@Model.CustomerEmail" />
                                                    <input type="hidden" id="ShopId" value="@shop.ShopID" />
                                                    <input type="hidden" id="Exp" value="@shop.Exp" />
                                                    <input type="hidden" id="Quota" value="@(shop.Quota - shop.Used_Quota)" />
                                                    <input type="hidden" id="UsedQuota" vale="@shop.Used_Quota" />

                                                    @if (!isVisible)
                                                    {
                                                        <button id="UsingCoupon" type="submit" class="btn btn-primary">ใช้คูปอง</button>
                                                    }

                                                    <div id="IsExp" class="text-danger mt-2">@isExp</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<partial name="Partial_CheckFormat" />
<partial name="Partial_Modal_CheckIn"/>
<style>
    .profile-view-info {
    }

    body {
        margin: 3em;
    }

    .card-img-top {
        width: 60%;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    #card-main {
        padding: 1.5em 0.5em 0.5em;
        text-align: center;
        border-radius: 0em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .card-main-font {
        font-weight: bold;
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 15px;
    }

    .card-sub-font {
        font-size: 1.25em;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 15px;
    }

    .card {
        padding: 1.5em 0.5em 0.5em;
        text-align: center;
        border-radius: 2em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        font-weight: bold;
        font-size: 1.5em;
        text-align: right;
    }

    .card-text {
        text-align: right;
    }

    .btn-primary {
        border-radius: 2em;
        padding: 0.5em 1.5em;
    }

    .fix-icon {
        align-content: center;
    }

</style>

@section scripts{
    <script src="~/js/Information.js?version=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        $(document).ready(() => {

            var showModal = @Model.CheckFormat.ToString().ToLower();
            if (!showModal) {
                $('#infoModal').modal('show');
            }

            information.init();
        });
    </script>
}
