@model Project.Sanha.Web.Models.DataTransModel
@{
    ViewData["Title"] = "แบบฟอร์ม";
}
<style>
    .header-font {
        color: #EB5B00;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .signature_box {
        border: 1px solid black;
    }

    .required-asterisk {
        color: red;
    }

    #modal-sign .modal-content .modal-body,
    #modal-sign-mech .modal-content .modal-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 16px 16px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">แบบฟอร์ม</h5>
                </div>
                <div class="card-body">
                    <div class="header-font">
                        ข้อมูลการใช้บริการ
                    </div>
                    <hr />
                    <div class="mb-3">
                        <label class="form-label">ชื่อโครงการ</label>
                        <input type="text" class="form-control" readonly value="@Model.ProjectName">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label class="form-label">เลขที่บ้าน</label>
                                <input type="text" class="form-control" readonly value="@Model.Address">
                            </div>

                            <div class="col-lg-6">
                                <label class="form-label">วันที่โอน</label>
                                <input type="text" class="form-control" readonly value="@Model.TransferDate">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <input type="hidden" id="UnitShopId" value="@Model.InfoId" />
                    <input type="hidden" id="ProjectId" value="@Model.ProjectId" />
                    <input type="hidden" id="UnitId" value="@Model.UnitId" />
                    <input type="hidden" id="ShopId" value="@Model.ShopId" />
                    <div class="col-12 header-font">
                        ข้อมูลลูกค้า
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">ชื่อ-นามสกุล <span class="required-asterisk">*</span></label>
                                <input type="text" class="form-control" placeholder="กรุณาใส ชื่อ-นามสกุล" id="CustomerName" value="@Model.CustomerName" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">ความสัมพันธ์ <span class="required-asterisk">*</span></label>
                                <select class="form-control" id="RelationShip" name="RelationShip">
                                    <option value="5">เจ้าของห้อง</option>
                                    <option value="3">คู่สมรส</option>
                                    <option value="1">ญาติ</option>
                                    <option value="7">ผู้เช่า</option>
                                    <option value="2">พี่-น้อง</option>
                                    <option value="4">อื่นๆ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">เบอร์โทรศัพท์ <span class="required-asterisk">*</span></label>
                                <input type="text" class="form-control" placeholder="กรุณากรอกข้อมูล หมายเลขโทรศัพท์" value="@Model.CustomerMobile" id="CustomerMobile" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">อีเมลล์</label>
                                <input type="text" class="form-control" value="@Model.CustomerEmail" id="CustomerEmail">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12 header-font">
                        เจ้าหน้าที่
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">ชื่อ-นามสกุล <span class="required-asterisk">*</span></label>
                                <input type="text" class="form-control" placeholder="กรุณาใส ชื่อ-นามสกุล" id="StaffName" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">เบอร์โทรศัพท์ <span class="required-asterisk">*</span></label>
                                <input type="text" class="form-control" id="StaffMobile" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">จำนวนการใช้สิทธิ์ <span class="required-asterisk">*</span></label>
                                <input class="form-control" type="number" id="UsingQuota" required value="@Model.Quota">
                                <input type="hidden" value="@Model.Quota" id="Quota" />
                                <div id="error-message" style="color: red; display: none;">กรุณากรอกค่าระหว่าง 1 ถึง @Model.Quota</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">วันที่เข้าทำงาน</label>
                                <input class="form-control" type="date" value="@Model.Date" id="Date" required readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">ช่วงเวลาที่เข้าทำงาน</label>
                                <input class="form-control" type="time" value="@Model.StartTime" id="StartTime" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">หมายเหตุ</label>
                                <textarea class="form-control" rows="4" placeholder="หมายเหตุ..." id="Remark"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">อัพโหลดรูปภาพ <span class="required-asterisk">*</span></label>
                                <input class="form-control" type="file" id="Images" multiple required>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12 header-font">
                        หลักฐานการยืนยัน
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span id="success-icon" class="text-success" style="display: none;">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                    ลายเซ็นต์ลูกค้า <span class="required-asterisk">*</span>
                                </label>
                                <a href="#" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#modal-sign">
                                    ยืนยัน
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label class="form-label">
                                    <span id="success-icon-jm" class="text-success" style="display: none;">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                    ลายเซ็นต์เจ้าหน้าที่ <span class="required-asterisk">*</span>
                                </label>
                                <a href="#" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#modal-sign-jm">
                                    ยืนยัน
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="text-end">
                        <button id="btn-cancel-form" type="button" class="btn btn-warning me-2" style="color:white">ยกเลิก</button>
                        <button id="btn-save-unit-equipment" type="button" class="btn btn-success">
                            ส่งแบบฟอร์ม
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading" style="display:none">กำลังโหลด &#8230;</div>
<partial name="Partial_Modal_Sign" />
<partial name="Partial_Modal_Sign_Mech">
    <partial name="Partial_Valid_Form" />

    @section scripts{
        <link href="~/css/signature-pad-master/css/signature-pad.css" />
        <script src="~/css/signature-pad-master/js/signature_pad.umd.js"></script>
        <script src="~/js/unitEquipment.js?version=@DateTime.Now.Ticks.ToString()"></script>

        <script>$(document).ready(() => {
                unitEquipment.validateUsingQuota();
                unitEquipment.init();
            });</script>
    }
